@model BaseModels.Reserva

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Restaurante.NameOnwer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurante.NameOnwer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdPessoas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdPessoas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHorario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHorario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
