@model IEnumerable<BaseModels.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurante.NameOnwer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdPessoas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataHorario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Restaurante.NameOnwer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdPessoas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MesaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataHorario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservaID })
        </td>
    </tr>
}

</table>
