<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
</head>
<body background="/Util/evening_table_dinner_restaurant_coast_look_fires_garland_48367_1920x1080.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("The Restaurant Beta ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Início", "Index", "Home")</li> @*sempre lembrar nome/action/controller*@
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>

                 @*   @if (User.IsInRole("Admin"))
                    {
                        // somente admin pode ver
                    }
                     *@
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Cliente"))
                        {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genrenciar Reserva <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @*fazer uma restrição por qm esta logado if(cliente esta on)*@
                                <li>@Html.ActionLink("Fazer Reserva", "Create", "Reservas")</li>
                                <li>@Html.ActionLink("Excluir Reserva", "DeleteConfirmed", "Reservas")</li>
                                <li>@Html.ActionLink("Ver Reserva", "Details", "Reservas")</li>
                            </ul>
                        </li>                        
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genrenciar Cliente<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*fazer uma restrição por qm esta logado if(cliente esta on)*@
                                    <li>@Html.ActionLink("Cadastrar cliente", "Create", "Clientes")</li>
                                    <li>@Html.ActionLink("Deletar cliente", "DeleteConfirmed", "Clientes")</li>
                                    <li>@Html.ActionLink("Editar cliente", "Edit", "Clientes")</li>
                                    <li>@Html.ActionLink("Listar cliente", "Details", "Clientes")</li>
                                </ul>
                            </li>
                       }
                        if (User.IsInRole("Dono"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genrenciar Estabelecimento<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    @*fazer uma restrição por qm esta logado if(dono esta on)*@
                                    <li>@Html.ActionLink("Cadastrar restaurante", "Create", "Estabelecimentos")</li>
                                    <li>@Html.ActionLink("Deletar restaurante", "DeleteConfirmed", "Estabelecimentos")</li>
                                    <li>@Html.ActionLink("Editar restaurante", "Edit", "Estabelecimentos")</li>
                                    <li>@Html.ActionLink("Vizualizar restaurantes", "Details", "Estabelecimentos")</li>
                                    <li role="separator" class="divider"></li>
                                    <li><b>Gerenciamento de mesas</b></li>
                                    <li role="separator" class="divider"></li>
                                    <li>@Html.ActionLink("Adicionar Mesas", "Create", "Mesas")</li>
                                    <li>@Html.ActionLink("Remover Mesas", "DeleteConfirmed", "Mesas")</li>
                                    <li>@Html.ActionLink("Editar Mesas", "Edit", "Mesas")</li>
                                    <li>@Html.ActionLink("Mostrar Mesas", "Create", "Mesas")</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
