@model BaseModels.Estabelecimentos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estabelecimentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOnwer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOnwer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstabelecimentoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
