@model Aula1406.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<h2>@ViewBag.Title</h2>

<h2>Você tem certeza que deseja excluir o item a seguir?</h2>


@Html.LabelFor(m => Model.Nome)
@Html.EditorFor(m => Model.Nome)

@Html.LabelFor(m => m.Descricao)
@Html.EditorFor(m => Model.Descricao)

@Html.EditorFor(m => Model.Ativo)
@Html.LabelFor(m => Model.Ativo)



@using (Html.BeginForm())
{
    <input type="submit" value="Excluir" class="btn btn-primary" />
}

